[build]
  publish = "dist"
  command = "pnpm run build"

[[redirects]]
  from = "/_astro/*"
  to = "/_astro/:splat"
  status = 200

[[redirects]]
  from = "/assets/*"
  to = "/assets/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200