/* Global styles */
:root {
    --background: #1e1e2e; 
    --background-light: #fdebf3;
    --button: #78c2ad;
    --text: #fdebf3;
    --text-light: #1e1e2e; 
    --text-link: #fc9f9f;
    --underline: #375a7f;
    --header: 'Josefin Sans', sans-serif; 
    --body: 'Josefin Sans', sans-serif; 
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

#emme-patata {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

html {
  background-attachment: fixed;
  background: rgb(99, 14, 20);
  background: radial-gradient(
    circle,
    rgba(99, 14, 20, 1) 0%,
    rgba(179, 41, 69, 1) 100%
  );
  color: var(--text);
}

body {
    max-width: 540px;
    margin: 0 auto;
    text-align: left;
}

h1, h2 {
    font-family: var(--header);
    font-weight: bold;
}

h3 {
  font-family: var(--header);
}

h1 {
    font-size: 2.6rem;
    margin: 0;
    margin-bottom: 5px;
}

p {
    font-family: var(--body);
    font-size: 1.1rem;
    line-height: 1.5;
}

small, li {
    font-family: var(--body); 
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3px;
  margin-bottom: 4px;
}

header a {
  color: #fafafa;
  position: relative;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
}

header a:hover {
  color: white;
}

header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  color: white;
}

header a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  color: white;
}

/* Other cool stuff */

.white-line {
  border-bottom: #ffffff 3px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.polaroid a {
  font-family: var(--header);
  background: #ffffff;
  display: inline-block;
  margin: 0px 40px 50px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.polaroid a:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.polaroid img {
  display: block;
  width: 300px;
}

.polaroid {
  animation: polaroid 5s ease 0s infinite normal forwards;
  display: flex;
  justify-content: center;
}

@keyframes polaroid {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

/* About card */

#about-card {
  --bs-bg-opacity: 1;
  background-color: rgb(33 37 41) !important;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

#about-card h2 {
  margin: 1px;
}

#about-card h3 {
  font-style: italic;
  font-weight: normal;
  padding: 0;
}

#about-card p {
  margin: 1px;
  font-weight: lighter;
}

#about-card ul {
  margin: 0;
  padding: 20px 20px 0;
}

#about-card li {
  font-weight: 100;
  margin: 10px;
}

/* Badge */
.badge {
    background-color: #b52727;
    color: var(--text);
    border-radius: 6px;
    font-family: var(--body);
    font-weight: 600;
    font-size: .85rem;
    padding: 0.3em 0.6em 0.2em;
}

.badge__list {
    text-indent: 1rem;
    list-style: none;
    padding: 0;
}

.badge__list > li {
    margin-top: 10px;
}

.badge--item {
    border-radius: 4px;
    font-size: 12px;
    margin-right: 5px;
    padding: 0.5em 0.3em 0.3em 0.3em;
}

.badge__link {
    color: var(--text-link);
    text-decoration: none;
}

.badge__link:hover {
    text-decoration: underline;
}

/* Cards */
.card {
    list-style: none;
    display: flex;
    background-size: 400%;
    padding: 20px;
}

.card__link {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    border-radius: 8px;
    color: var(--text);
}

.card__img {
    border-radius: 16px;
}

.card__title {
    margin: 0;
    font-family: var(--body);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.card__txt {
    font-size: 1rem;
    line-height: 1.5;
    text-indent: 0;
    text-align: center;
    margin: 0.5rem 0 0;
}

.card__link:hover {
    transform: scale(1.05);
}

.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

/* Button */
.btn {
    text-align: center;
    background: rgba(0,0,0,0);
    border: 2px solid var(--button);
    border-radius: 8px;
    color: var(--text);
    font: 600 16px var(--body);
    padding: 8px 16px;
    transition: background-color 0.4s, color 0.4s;
}

.btn:hover {
    background-color: var(--button);
    color: var(--text-light);
    cursor: pointer;
}

/* Skills */
.skills {
    margin-top: 8px;
}

.skills__img {
    margin: 8px 4px;
}

/* Items */
.center {
    text-align: center;
}

.pro-img {
    border-radius: 16px;
    margin-top: 10px;
}

/* Footer */
footer {
    margin: 4rem 0;
}

.footer__link {
    color: var(--text-link);
    text-decoration: none;
}

.footer {
    cursor: default;
    list-style: none;
    padding: 0;
}

.icon__btn {
    display: inline-block;
    padding: 0 0.5rem;
}

.icon__link {
    display: flex;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #fdebf3;
}

.icon__link:hover {
    border-color: var(--text-link);
}


.git-icon {
    content: url("/github-mark-white.svg");
}

.mail-icon {
    content: url("/mail-white.svg");
}

.linked-in {
    content: url("/li-in-white.png");
}

/* 404 */
.lost {
    margin-top: 30%;
    text-align: center;
}

.lost__header {
    margin: 0 auto;
    text-align: center;
    border: 0;
    font-size: 7.5rem;
    letter-spacing: 10px;
}

.lost__body {
    color: #5C5B77;
}

.lost__link {
    color: var(--text-link);
    text-decoration: none;
}

/* Theme Icon */
html.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

.light .navbar__title > a {
    color: var(--text-light);
}

.light .navbar__menu > a {
    color: var(--text-light);
}

.light .card__title {
    color: var(--text-light); 
}

.light .card__txt {
    color: var(--text-light); 
}

.light .btn {
    color: var(--text-light);
}

.light .btn:hover {
    color: var(--text);
}

.light .icon__link {
    border: 2px solid var(--text-light);
}

.light .icon__link:hover {
    border-color: var(--text-link);
}

.light .git-icon {
    content: url("/github-mark.svg");
}

.light .mail-icon {
    content: url("/mail.svg");
}

.light .linked-in {
    content: url("/li-in.png");
}

.light .badge__link {
    color: var(--text-link);
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 350px;
        padding: 15px;
    }

    header a {
      padding: 5px;
    }

    .navbar {
        display: initial;
    }

    .navbar__title {
        text-align: center;
    }

    .navbar__menu {
        text-align: center;
    }

    .navbar__menu > a {
        margin: 0 11px;
    }

    .skills__img {
        height: 30px;
        width: 30px;
        margin: 8px 1px;
    }

    .badge__list {
        font-size: 0.9rem;
        text-indent: 0;
    }

    .pro-img {
        height: auto;
        width: 350px;
    }
}

