---
const description = "404";
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<Layout pageTitle="404">
    <div class="lost">
        <div class="gif">
            <img width="300" alt="Emme 404" src="/material/Emme-pls.png"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">Ops sorry something is missing :c</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</Layout>

