---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Works";
import { data } from "../content/data"
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
---
<Layout pageTitle={pageTitle}>
    <div>
      <div class="polaroid">
        <span>
          <img
            id="emme-photo-about"
            src="/material/photo2.jpg"
            class="d-block mx-lg-auto img-fluid"
            alt="Ehy that's me!"
            width="400"
            loading="lazy"
            title="Ehy that's me!"
          />
        </span>
      </div>
      <h2 style="font-weight: bold;">About me</h2>
      <p>{data.About.Intro}</p>
    </div>
    <h2 style="font-weight: bold;">Experiences:</h2>
    
    <ExperienceTimeline />

</Layout>

