---
import { data } from "../content/data"

---
<h2>{data.Contact.Intro}</h2>
<div style="text-align: left;" class="contact">
  <p style="margin: 0;">
    Mail me here:
  </p>
  <p><a href="mailto:manuelaienuso@gmail.com"><i class="fa-solid fa-envelope" style=" vertical-align: middle;"></i> {data.Contact.Mail}</a></p>

   <div class="social-wrap">
        <span>Keep in touch!</span>
        <div class="social-container">
          {
            data.Contact.Socials.map((social) => (
              <a href={social.link} target="_blank">
                <i class={social.icon} style="font-size: large; padding:10px;" />
              </a>
            ))
          }
        </div>
      </div>
      <br>
</div>

