---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Emme portfolio";
import { data } from "../content/data"
---
<Layout pageTitle={pageTitle} >

      <!-- <Swing duration={1500}> -->
        <br>
        <div style="text-align: center;">
          <img width="300" height="259" alt="RaccoonSpaceGif" src="/material/Emme patata.png" id="emme-patata"/>
        </div>
      <!-- </Swing> -->

      <h1 class="display-5 fw-bold lh-1 mb-3 text-white">
        Ciao! <i class="fa-solid fa-music fa-bounce"></i>
        <br>
        I'm <b>Manuela</b>,
      </h1>
      <h2>
        a Front-end Developer, Digital 2D Artist and Twitch Streamer from Italy
      </h2>
    <p>
      I'm a creative chill person with the passion of learning new things while destroying them to understand how they work.<br>
      If you are curious to know more about me feel free to browse this portfolio to see my work and more!
    </p>
      <div class="h-divider"><div class="shadow"></div></div>
    <p style="text-align: center;">
    {data.Contact.Socials.map((social) => (
      <a href={social.link} target="_blank"><i class={social.icon} style="color: white; font-size: large; padding:10px;"></i></a>
))}
    </p>

</Layout>

