---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Carousel from '../components/Carousel.astro';
const allProjects = await getCollection("projects");
const pageTitle = "Works";
import { data } from "../content/data"
---
<Layout pageTitle={pageTitle}>
    <h2 class="white-line">Works</h2>
    <h2>Code projects:</h2>
    <ul role="list" class="link-card-grid">
        {allProjects.map((card) => <Card 
            url={`/projects/${card.slug}/`} 
            image={card.data.image.url} 
            title={card.data.title} 
        />)}
    </ul>
    <h2>Art projects:</h2>
    <h3>Emote commissions:</h3>
    <Carousel />
    <h2>Cosplay projects:</h2>

</Layout>

