---
import { data } from "../content/data"
---
<header class="d-flex flex-wrap justify-content-center py-3 mb-4">

    {data.Header.pages.map((page) => (
          <a href={page.link}>{page.name}</a>
      ))}

</header>