---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Emme portfolio</a>
    </div>
    <div class="navbar__menu">
        <a href="/experience/">Experience</a>
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
    </div>
</div>

